/* including any import file such as google fonts */
@import url('');


/* start basic typhography of css  */
*{margin:0;padding:0;}
body{font-family:Sans-Serif, Arial;-webkit-transition:all 0.3s ease;transition:all 0.3s ease;}
img{width:100%;height:auto;}
a{text-decoration:none;}
.container_full{width:100%; height:auto;}
.container{width:960px;margin:0 auto;display:block;}
.fix{overflow:hidden;}
a:visited{color:inlineblue;}
a:focus{background:orange;}
.aligncenter{display:block;margin:0 auto;}
h1, h2, h3, h4, h5, h6{margin:30px 0;}
p{line-height:150%;margin:1.5em;}
.floatleft{float:left;}
.floatright{float:right;}
/* end basic typhography  */

